Day_1/bin/
Day_1/obj/Debug/

Day_2/bin/
Day_2/obj/Debug/

Day_3/bin/
Day_3/obj/Debug/

Day_4/bin/
Day_4/obj/Debug/

Day_5/bin/
Day_5/obj/Debug/

Day_6/bin/
Day_6/obj/Debug/

Day_7/bin/
Day_7/obj/Debug/
